.App {
  max-width: 800px;
  margin: 0 auto;
}

.input {
  border: 0.1 rem solid #5574f7;
  color: #5574f7;
  background-color: white;
  border-radius: 15px;
  width: 100%;
}

.blue{
    color:#5574f7;
    width: 100%;
}

p{
    margin:0;
}

